<div class="container-fluid">
<h1 class="text-center">Employee List</h1>
<button type="button" class="btn btn-danger" routerLink="timesheet" routerLinkActive="active">Go to timesheet</button>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Weekly Effort (Total)</th>
        <th>Weekly Effort (Average)</th>
    </tr>
    <tr *ngFor="let item of employees" (click)="employeeClick(item)">
        <td>{{item.id}}</td>
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td></td>
        <td></td>
    </tr>
</table>
</div>