<div class="container-fluid">
<div class="inline">
  <span>Select employee </span>

  <select (change)="setNewUser($event)" [(ngModel)]="value">
    <option *ngFor="let user of employees" [value]="user.id">
        {{user.name}}
    </option>
  </select>
</div>

<!-- table  -->
<span (click)="addTadk()">Add Task<mat-icon>add_circle</mat-icon></span>
<span (click)="addTimesheet()">Add Timesheet<mat-icon>add_circle</mat-icon></span>
<h1 class="text-center">Week</h1>

<table class="table">
    <tr>
        <th>Task</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr *ngFor="let item of timesheets">
        <td>{{item.taskName}}</td>
        <td>{{item.sunday}}</td>
        <td>{{item.monday}}</td>
        <td>{{item.tuesday}}</td>
        <td>{{item.wednesday}}</td>
        <td>{{item.thursday}}</td>
        <td>{{item.friday}}</td>
        <td>{{item.saturday}}</td>
    </tr>
    <tr>
      <th>Total</th>
      <td>{{total(1)}}</td>
      <td>{{total(2)}}</td>
      <td>{{total(3)}}</td>
      <td>{{total(4)}}</td>
      <td>{{total(5)}}</td>
      <td>{{total(6)}}</td>
      <td>{{total(7)}}</td>
    </tr>
</table>

<button type="button" class="btn btn-danger" routerLink="" routerLinkActive="active">Back to list</button>
</div>