<div class="container-fluid">
    <h1 class="text-center">Add Task</h1>
  <form name="form" [formGroup]="form" (ngSubmit)="save()">
    <div class="form-group">
      <label for="taskname">Task Name</label>
      <input type="text" formControlName="Name" class="form-control" id="taskname" placeholder="Enter task">
    </div>
    <div class="form-group">
      <label for="taskdescription">Task Description</label>
      <input type="text" formControlName="Description" class="form-control" id="taskdescription" placeholder="description">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>