<div class="container-fluid">
  <h1 class="text-center">Add Timesheet</h1>
  <form name="form" [formGroup]="form" (ngSubmit)="save()">
    <div class="form-group">
      <!-- <label for="taskname">Task</label>
      <input type="text" formControlName="TaskId" class="form-control" placeholder="Enter task"> -->
      <span>Select Employee </span>
      <select formControlName="EmployeeId">
        <option *ngFor="let user of employees" [value]="user.id">
            {{user.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <!-- <label for="taskdescription">Employee</label>
      <input type="text" formControlName="EmployeeId" class="form-control" placeholder="Enter hours"> -->
      <span>Select Task </span>
      <select formControlName="TaskId">
        <option *ngFor="let tsk of tasks" [value]="tsk.id">
            {{tsk.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="taskdescription">Sunday</label>
      <input type="number" formControlName="Sunday" class="form-control"  placeholder="Enter hours">
    </div>
    <div class="form-group">
      <label for="taskdescription">Monday</label>
      <input type="number" formControlName="Monday" class="form-control"  placeholder="Enter hours">
    </div>
    <div class="form-group">
      <label for="taskdescription">Tuesday</label>
      <input type="number" formControlName="Tuesday" class="form-control"  placeholder="Enter hours">
    </div>
    <div class="form-group">
      <label for="taskdescription">Wednesday</label>
      <input type="number" formControlName="Wednesday" class="form-control"  placeholder="Enter hours">
    </div>
    <div class="form-group">
      <label for="taskdescription">Thursday</label>
      <input type="number" formControlName="Thursday" class="form-control"  placeholder="Enter hours">
    </div>
    <div class="form-group">
      <label for="taskdescription">Friday</label>
      <input type="number" formControlName="Friday" class="form-control"  placeholder="Enter hours">
    </div>
    <div class="form-group">
      <label for="taskdescription">Saturday</label>
      <input type="number" formControlName="Saturday" class="form-control"  placeholder="Enter hours">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>